body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}


.square{
    display: flex;
    width: 800px;
    height: 800px;
    background-color: white;
    border: solid 1px;
}
.rect1{
    width: 50%;
    height: 100%;
    background-color: yellow;
}
.rect2{
    display: flex;
    width: 50%;
    height: 100%;
    background-color: green;
    flex-direction: column;
}
.blue{
    height: 50%;
    width: 100%;
    background-color: blue;
}
.pink{
    display: flex;
    height: 50%;
    width: 100%;
    background-color: pink;
}
.purple{
    height: 100%;
    width: 50%;
    background-color: purple;
}
.orange{
    height: 100%;
    width: 50%;
    background-color: orange;
}
.black{
    height: 50%;
    width: 100%;
    background-color: black;
}
.brown{
    height: 50%;
    width: 100%;
    background-color: brown;    
}
.red{
    height: 50%;
    width: 100%;
    background-color: red;    
}
.lightblue{
    height: 50%;
    width: 100%;
    background-color: lightblue;
}
.grey{
    display: flex;
    height: inherit;
    width: 100%;
    background-color: gray;
}
.lightpink{
    height: inherit;
    width: 100%;
    background-color: lightpink;
}
.lightgreen{
    height: inherit;
    width: 100%;
    background-color: rgb(2, 77, 2);
}
.lightyellow{
    width: 50%;
    height: 100%;
    background-color: lightyellow;
}
.light{
    width: 50%;
    height: 100%;
    background-color: rgb(250, 11, 250);
}